{% extends "layout.html" %}
    {% block content %}
        {% for post in posts %}
    
        <section class="services2 cid-rDfIrpnmpK" id="services2-n">
            <!---->
            
            <!---->
            <!--Overlay-->
            
            <!--Container-->
            <div class="container">
                <div class="col-md-12">
                    <div class="media-container-row">
                        <div class="mbr-figure" style="width: 55%;">
                            <a href=" {{post.img}}" target="_blank" class=""><img src="{{post.img}}" alt="{{post.title}}" class=""></a>
                        </div>
                        <div class="align-left aside-content">
                            <h2 class="mbr-title pt-2 mbr-fonts-style display-2">{{post.title}}</h2>
                            <div class="mbr-section-text">
                                
                                
                            </div>
                            <!--Btn-->
                            <div class="mbr-section-btn pt-3 align-left"><a href="{{post.img}}" class="btn btn-primary display-5" target="_blank">
                                    Buy on Ebay</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        {% endfor %}

    {% endblock content %}


